<% if model.errors.any? %>
  <div class="alert alert-error flex justify-between items-start" x-data="{ show: true }" x-show="show">
    <div class="flex-1 pr-4">
      <h3 class="font-medium">
        <%= pluralize(model.errors.count, "error") %> prohibited this <%= model.class.model_name.human.downcase %> from being saved:
      </h3>
      <ul class="list-disc list-inside mt-2 text-sm">
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn btn-sm btn-ghost ml-auto flex-shrink-0" @click="show = false">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
<% end %>
