<% flash.each do |key, value| %>
  <div class="p-3" x-data="{ show: true }" x-show="show" x-transition>
    <div class="flex items-center p-3 rounded-lg <%= flash_alert_class(key) %>">

      <div class="text-xs"><%= value %></div>

      <button class="ml-auto p-1 rounded-full hover:bg-black/10 transition-colors" @click="show = false">
        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>
  </div>
<% end %>
